@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(168, 82, 2);
    font-family: 'Fontdiner Swanky', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    margin: 0;
}

.btn{
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem; 
    font-family: 'Fontdiner Swanky', cursive;
    cursor: pointer;

}

.btn:hover{
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}